/* ADD CSS */

.placeHolder {
	background-color: transparent;
    height: 100px;
    min-height: 100px;
}

.widgetPage {
    padding-top: 20px;
}

.header {
	background-color: transparent;
	font-size: 40px;
	color: white;
    font-family: "Georgia";
    text-align: center;
    padding: 22px 10px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

body {
	background: url("../photos/plant.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.locationViews {
    width: 350px;
    min-width: 350px;
    margin: auto;
}

.locationView {
    width: 500px;
    min-width: 500px;
    margin: auto;
}

.recipeView {
    width: 520px;
    min-width: 570px;
    margin: auto;
}

.climateView {
    width: 500px;
    min-width: 500px;
    margin: auto;
}

.recipeForm {
    width: 300px;
    min-width: 300px;
    margin: auto;
}

.imageTabs {
    width: 320px;
    min-width: 320px;
    height: 80px;
    min-height: 80px;
    margin: 20px auto;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

.clear {
    clear: both;
    height: 50px;
    min-height: 50px;
}

.imageTab {
    height: 100%;
    width: 100%;
}

.imageContainer {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    float: left;
    margin: 10px;
}

.cropTag {
    margin: 3px;
}
