.recipeImage {
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
}

.growWidget {
    width: 830px;
    max-width: 830px;
    height: 600px;
    max-height: 600px;
    overflow: auto;
    margin: auto;
}

.recipeWidget {
    width: 830px;
    max-width: 830px;
    height: 600px;
    max-height: 600px;
    overflow: auto;
    margin: auto;
}

.growItem {
	overflow-y: auto;
	display: inline-block;
	width: 250px;
	height: 270px;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
    background-color: #b3e0ff;
}

.growItemParagraph {
	font-family: Helvetica;
    font-size: 12px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
}

.paragraphCenter {
	display: block;
	margin: auto;
	text-align: center;
}

.distanceParagraph {
	font-family: Helvetica;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.distanceSpan {
    font-size: 22px;
}

/* Home Page CSS */

#homeNavbar {
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.homePlaceHolder {
    height: 60px;
}

.homeNav > li {
    display: inline;
    float: left;
    padding: 0px 3px 0px 3px;
}

.banner {
    width: 100%;
}

.slogan {
    line-height: 90px;
    height: 90px;
    font-size: 30px;
    text-align: center;
    background-color: #f8f8f8;
    font-weight: bold;
}

.details {
    line-height: 70px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}

.functionality {
    padding-top: 70px;
    width: 900px;
    margin: auto;
}

.appImage {
    width: 100%;
    height: 365px;
    overflow: hidden;
}

/* Prototype CSS */

.create {
    width: 650px;
    max-width: 650px;
    margin: auto;
    color: #656973;
}

.post {
    width: 650px;
    max-width: 650px;
    margin: auto;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #656973
    border-radius: 5px;
}

.postContainer {
}

.postHeader {
    font-size: 23px;
    background-color: #EBF1FC;
    padding: 5px 20px 5px 20px;
    color: #656973
}

.postContent {
    font-size: 15px;
}

.postBody {
    margin: 0px 20px 12px 20px;
}

.postButton {
    background-color: #EBF1FC;
    color: #656973;
}

.postButton:hover {
    background-color: #A8BDE8;
    color: black;
}

.postButton:focus {
    background-color: #DAE3F7;
    color: black;
}

.tag {
    font-size: 14px;
    background-color: #DFE4EE;
    color: #656973;
    margin-top: 8px;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

textarea {
    resize: none;
}

.searchInput {
    width: 100%;
    height: 55px;
    font-size: 20px;
    background-color: #F9F5F5;
    color: #8C8283;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    padding-left: 8px;
}

.searchContainer {
    margin-top: -28px;
}

.search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 102px;
    z-index: 1;
}

.heading {
    background-color: #DAE3F7;
}

.title {
    font-family: "Big Caslon";
    font-weight: 500;
    color: #656973;
    font-size: 40px;
    padding: 0px 0px 0px 25px;
}

.createTitle {
    font-family: "Big Caslon";
    font-weight: 500;
    text-align: center;
    color: #656973;
    font-size: 40px;
    padding: 15px 0px 15px 0px;
}

.userName {
    text-align: right;
    float: right;
    font-size: 12;
    color: #656973;
    padding: 0px 25px 0px 0px;
}

.placeHolder {
    height: 95px;
    min-height: 95px;
    background-color: white;
}

.createButton {
    margin-top: 10px;
}
